{% extends "layout.html" %}
{% block title %}Simple Search{% endblock %}
{% block content %}
<div class="container" style="padding: 20px; ">
  <div class="row align-items-center justify-content-center">
  <div>         
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
     
    <form method="get" action="{{ url_for('search_results') }}">
      <div id="advanced_search_form">
        <div class="row">
            <div class="col-md-3">{{form.title}}</div>
            <div class="col-md-3">{{form.text}}</div>
        </div>
        <div class="row">
            <p>{{form.subject}}</p>
            <p>{{form.bill_code}}</p>
            <p>{{form.authors}}</p>
        </div>
        <div class="row">
            <p>{{form.last_amendment_date}}</p>
            <p>{{form.session}}</p>
            <p>{{form.house_location}}</p>
        </div>
      </div>
      <div class="row align-items-center justify-content-center"><input type="submit" value="Search"></div>
    </form>
  </div>
  </div>
</div>
{% endblock %}
