{% extends "layout.html" %}
{% block title %}Simple Search{% endblock %}
{% block content %}
<div class="container" style="padding: 20px; ">
  <div class="row align-items-center justify-content-center">
  <div>         
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
     
    <form method="get" action="{{ url_for('search_results') }}">
      <div id="simple_search_form">
        <p>{{form.search}}</p>
      </div>
      <div class="row align-items-center justify-content-center"><input type="submit" value="Search"></div>
    </form>
  </div>
  </div>
</div>
{% endblock %}
