

/* ------- LAYOUT ------- */

.content-wrapper {
	margin-bottom:50px;
	padding: 40px;
}

.page-footer {
	background-color: #e3f2fd;
}

.main-nav {
	background-color: #e3f2fd;
}

.time-window-btn {
	margin-bottom: 30px;
}

.results-nav-top {
	margin-bottom: 16px;
}

.footer-copyright {
	padding-bottom: 10px;
}

.nav-top-links {
	margin-left: 10px;
}

.nav-item {
	margin: 0;
}

/* 320-576px */
@media screen and (max-width: 576px) {
	.nav-bottom-ul {
		flex-direction: column !important;
		align-items: center;
	}
}


/* ------- CONFIGURE PAGE  ------- */


.email-subscription {
	margin-bottom: 20px;
}

.message {
	padding: 10px;
}

.kw-list-title {
	margin-top: 40px;
}

.tw-info p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
}

.tw-info {
    margin-bottom: 10px;
}


/* ------- RESULTS PAGE  ------- */

.results-table {
	margin-bottom: 30px;
	padding:7px;
}

.new-tab-btn {
	padding:15px;
}

.tw-submit {
	margin-top: 15px;
}

.pagination-bottom {
	margin-bottom: 40px;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
}


/* ------- EMAIL SUBSCRIPTION PAGE  ------- */

.email-subs-messages {
	margin-bottom: 30px;
}